In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

'''A database is a collection of data that is organized and stored in a computer system. 

SQl(structured quairy lang): refers to structured data which has some sort of releation with each other ,
this can be modified , altered, retriverd

nosql(not only structured quairy lang) , NoSQL databases don't have a fixed schema, which means that data can be added without
needing to conform to a predefined structure.'''

"A database is a collection of data that is organized and stored in a computer system. \n\nSQl(structured quairy lang): refers to structured data which has some sort of releation with each other ,\nthis can be modified , altered, retriverd\n\nnosql(not only structured quairy lang) , NoSQL databases don't have a fixed schema, which means that data can be added without\nneeding to conform to a predefined structure."

In [2]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


'''DDL stands for Data Definition Language, and it is a subset of
SQL.that is used to define and manage the structure of database objects such as tables
, indexes.'''


#CREATE: This statement is used to create a new object in a database, such as a table
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50),
  phone VARCHAR(15)
);


#DROP: This statement is used to delete an existing object in a database, such as a table 


DROP TABLE customers;

#ALTER: This statement is used to modify the structure of an existing object in a database, such as a table or column

ALTER TABLE customers
ADD address VARCHAR(100);

#TRUNCATE: This statement is used to delete all the data from a table

TRUNCATE TABLE customers;

'DDL stands for Data Definition Language, and it is a subset of\nSQL.that is used to define and manage the structure of database objects such as tables\n, indexes.'

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

'''DML stands for Data Manipulation Language, and it is a subset of SQL 
that is used to manipulate data in a database.'''

#INSERT: This statement is used to insert new rows into a table. 

INSERT INTO customers (id, name, email, phone)
VALUES (1, 'ani', 'ani@example.com', '5551234');


#UPDATE: This statement is used to update existing rows in a table. 
UPDATE customers
SET phone = '5555678'
WHERE id = 1;

#DELETE: This statement is used to delete rows from a table. 


DELETE FROM customers
WHERE id = 1;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

'''DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that is used to retrieve data from a database.'''

#SELECT is the most commonly used DQL statement, and it is used to 
#retrieve data from one or more tables in a database

SELECT * FROM customers
WHERE name = 'ani';

In [ ]:
#Q5. Explain Primary Key and Foreign Key.


'''A primary key is a column or set of columns in a table that uniquely identifies each row in the table. 
It is a unique identifier for the table, and it must be unique for each row. 
Primary keys are used to enforce data integrity and ensure that each row in a table can be uniquely identified.'''


'''A foreign key is a column or set of columns in a table that refers to the primary key of another table.
It is used to establish a relationship between two tables.
When a foreign key is used, the values in the column(s) of one table must match the values in the primary key of the other table.'''

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("insert into test1.test_table values(1234 ,'ani', 1234 , 122.445  ,'rudh' )")
mydb.commit()
muydb.close()

'''cursor() method is used to create a cursor object, 
which allows us to execute SQL queries on the database, and the execute() method is 
used to execute a SQL query on the database through the cursor object.'''

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.


'''
FROM clause: 
JOIN clause: 
WHERE clause: 
GROUP BY clause
HAVING clause
SELECT clause: 
DISTINCT clause:
ORDER 
LIMIT clause: '''